* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*#main {
    
}*/

/*class chung*/
.line-h-40px {
    line-height: 40px;
}

.text-white {
    color: #fff;
}

.slogan-font {
    font-size: 14px;
    font-style: italic;
    font-family: monospace;
}

.let-spac {
    letter-spacing: 4px;
}

.opa {
    opacity: 0.7;
}

/*header*/
#header {
    background-color: #000;
    width: 100%;
    height: 40px;
    position: fixed;
    top:0px;
    z-index: 1;
}

#slogan {
    float: right
}
#slogan a {
    padding: 0px 24px;
    text-decoration: none;
}

#nav {
    float: left;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    text-decoration: none;
    font-size: 14px;
    padding: 0px 18px;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav > li:hover > a {
    background-color: darkred;
    display: block;
}

#nav .nav-down {
    font-size: 12px;
    padding-left: 4px;
}

#nav .sub-nav li:hover a {
    background-color: darkred;
    border-radius: 4px;
    color: #fff;
    display: block;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    width: 120px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#nav .sub-nav li {
    display: block;
}

#nav .sub-nav li a {
    color: #000;
    font-size: 12px;
    line-height: 30px;
    padding: 0px 12px;
}

#nav li:hover .sub-nav {
    display: block;
}
/*kết thúc header*/

#slider {
    background: url(../img/slider/sld2.jpg) top center / cover no-repeat;
    padding-top: 35%;
    margin-top: 40px;
    position: relative;
}

#slider .media {
    position:absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.3;
    padding-bottom: 90px;
}

#slider .sld-slogan {
    text-align: center;
    padding-bottom: 50px;
}

/*kết thúc slider */

#content {
    min-height: 2000px;
}

#content .section-content {
    
}

#content .section-bcolor {
    background-color: #000;
}

#content .section-text {
    width: 40%;
    text-align: justify;
    padding: 32px;
    margin: 0px 64px;
    display: inline-block;
}

#content .section-head {
    text-align: center;
}

#content .section-subhead {
    text-align: center;
    font-size: 12px;
    padding: 16px 0px;
}

#content .section-body {
    font-size: 15px ;
    line-height: 30px;
}


/* Đây là footer
#footer {

}*/
